* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.elemento {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.animatedColor {
    color: white;
}
.flecha {
    animation: arrow 1s ease-in-out infinite;
    font-size: 20px;
}
.flecha:hover {
    animation: arrow 1s ease-out infinite !important;
    color: #229bf4;
}

#titulo {
    padding-top: 80px;
}

@keyframes arrow {
    0% {
        transform: translate(0px, 50px);
    }
    50% {
        transform: translate(0px, 60px);
    }
    100% {
        transform: translate(0px, 50px);
    }
}

@media screen and (max-width: 500px) {
    nav {
        width: 100%;
        text-align: center;
        padding: 20px;
        display: flex;
        justify-content: center;
        background-color: #0B486B;
        opacity: 0.8;
        position: fixed;
        z-index: 100;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    nav > a {
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        margin-right: 10px;
    }
    nav > a:hover {
        text-decoration: underline;
    }
    header {
        display: flex;
        gap: 15px;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: #0B486B;
        /* fallback for old browsers */
        background: linear-gradient(to right, #f56117a4, #0b486bad), url("../img/fondo.jpg");
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f56117a4, #0b486bad), url("../img/fondo.jpg");
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
    }
    .logo {
        padding-top: 150px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .logo img {
        width: 200px;
        height: 200px;
        position: absolute;
    }
    .textos-header {
        padding-top: 50px;
        display: flex;
        height: 430px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .textos-header h1 {
        font-size: 25px;
        color: #fff;
    }
    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .contenedor-nosotros {
        display: flex;
        flex-direction: column;
    }
    .contenedor-nosotros h2 {
        color: rgba(59, 17, 5, 0.705);
        font-size: 30px;
        text-align: center;
        margin-bottom: 60px;
    }
    .contenedor-sobre-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: space space-between;
    }
    .contenedor-sobre-nosotros img {
        width: 250px;
    }

    .typedC {
        font-weight: bold;
        color: #fff;
        font-size: 25px;
    }

    .contenedor {
        padding: 10px;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .img-nosotros {
        width: 48%;
    }

    .contenido-texto {
        width: 48%;
    }

    .contenido-texto h3 {
        margin-bottom: 15px;
    }

    .contenido-texto h3 span {
        background: #6b0b38;
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        margin-right: 5px;
    }

    .contenido-texto p {
        padding: 0 0 30px 15px;
        font-weight: 300;
        text-align: justify;
    }

    .catalogo {
        background: #f2f2f2;
    }

    .galeria-catalogo {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .imagen-catalogo {
        width: 24%;
        margin-bottom: 10px;
        height: 200px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    }

    .imagen-catalogo > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .hover-galería {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: scale(0);
        background: hsla(273,91%,27%,0.7);
        transition: transform 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hover-galería img {
        width: 50px;
    }

    .hover-galería p {
        color: #fff;
    }

    .imagen-galeria:hover .hover-galería {
        transform: scale(1);
    }

    .cards {
        display: flex;
        justify-content: space-evenly;
    }

    .cards .card {
        background: #6b0b38;
        display: flex;
        width: 46%;
        height: 200px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    }

    .cards .card img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 3px solid #fff;
        border-radius: 50%;
        display: block;
    }

    .cards .card > .contenido-texto-card {
        width: 60%;
        color: #fff;
    }

    .cards .card > .contenido-texto-card p {
        font-weight: 300;
        padding-top: 5px;
    }

    .acerca-servicios {
        background: #fff;
        padding-bottom: 30px;
    }

    .servicio-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .servicio-ind {
        width: 28%;
        text-align: center;
    }

    .servicio-ind img {
        width: 10rem;
    }

    .servicio-ind h3 {
        margin: 10px 0;
    }

    .servicio-ind p {
        font-weight: 300;
        text-align: justify;
    }

    footer {
        background: #414141;
        padding: 60px 0 30px;
        margin: auto;
        overflow: hidden;
    }

    .contenedor-footer {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }

    .content-foo {
        text-align: center;
    }

    .content-foo h4 {
        color: #fff;
        border-bottom: 3px solid #af20d3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .content-foo p {
        color: #ccc;
    }

    .titulo-final {
        text-align: center;
        font-size: 24px;
        margin: 20px 0 0;
        color: #9e9797;
    }
}
